    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Explain the challenges</h1>
              <p>Explain about clients need and it's problem that needs to be solved.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>The solution</h1>
              <p>How did you solve the problem</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Final result</h1>
              <p>Brief letter from client wouldn't hurt it.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

<div class="col-md-12" role="main">
<p class="lead">Case studies are a great way to tell the world how valuable your products or services are. They go beyond simple testimonials by showing real-life examples of how you were able to satisfy your customer’s needs and help them accomplish their goals. With great case studies, you will be able to highlight your successes in a way that will make your ideal potential customer become your customer.</p>
</div>
        
</div>
</div>