    <div class="jumbotron">
      <div class="container">
        <h1>Single Page Portfolio</h1>
        <p>This is a template for a Single Page Portfolio website. It includes a Twitter bootstrap framework, FontAwesome icons and AngularJS, Pushy. Use it as a starting point to create SPA type portfolio.</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/ariunbolor/Single-Page-Portfolio"><i class="fa fa-github"></i> Start using it</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Twitter Bootstrap</h2>
          <p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
          <p><a class="btn btn-default" href="https://github.com/twbs/bootstrap" role="button"><i class="fa fa-github"></i> Fork it</a></p>
        </div>
        <div class="col-md-4">
          <h2>Angular JS</h2>
          <p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop. </p>
          <p><a class="btn btn-default" href="https://github.com/angular/angular.js" role="button"><i class="fa fa-github"></i> Fork it</a></p>
       </div>
        <div class="col-md-4">
          <h2>Pushy</h2>
          <p>Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions
</p>
          <p><a class="btn btn-default" href="https://github.com/christophery/pushy" role="button"><i class="fa fa-github"></i> Fork it</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2014. Bolorerdene Bundgaa. Follow me at <a href="http://twitter.com/ariunbolor">@ariunbolor</a></p>
      </footer>
    </div> <!-- /container -->
